<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header', {user}); %>
  </header>

  <div class="container-fluid dash-container">
    <div class="row">
      <%- include('../partials/dashboard-sidebar'); %>

        <main id="dash-main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

          <div class="dash-main-cont">
            <h2 class="dash-main-title"><span>Welcome</span>
              <%= user.name %>
            </h2>
          </div>

          <div class="row info-board">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card today tale-bg">
                <div class="today-card-header">
                  <span>Today 🔥</span>
                  <span class=" status">ON GOING</span>
                </div>

                <div class="today-title-cont">
                  <h4 class="today-title">Introduction to Physics</h4>
                  <h6 class="today-desc">In this class we will be doing some actuall physics</h6>
                </div>

                <div>
                  <div class="today-meta">
                    <div><b>Starts at:</b> 10:30pm</div>
                    <div><b>Ends at:</b> 12:30pm</div>
                    <div><b>Course:</b> MAT 101</div>
                    <div><b>Tutor:</b> Mr. Okoye Jay</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Today's lectures</p>
                      <p class="stat-count">0</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Number of Classes</p>
                      <p class="stat-count">0</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Number of Lectures</p>
                      <p class="stat-count">0</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Number of Students</p>
                      <p class="stat-count">0</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>

    </div>
  </div>

  <%- include("../partials/dashboard-scripts"); %>

</body>

</html>